.list{
  list-style: none;
}

.list a:hover{
  cursor: pointer;
}
.modal-fundo {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* Caixa do modal */
.modal-conteudo {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

/* Botão de fechar */
.fechar {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.fechar:hover {
  color: black;
}