.dropdown {
  position: relative;
}

/* Estiliza o botão dropdown */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Conteúdo do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links dentro do conteúdo do dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:rgb(28, 35, 129);
}

/* Mostra o conteúdo do dropdown no hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Muda a cor de fundo do botão dropdown no hover */
.dropdown:hover .dropbtn {
}
        .containero{
    min-width: 992px;
    max-width: 960px;
    margin: 40px auto;
    background: #e3dfdf;
    border-radius: 8px;
    padding: 32px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
    
        }
        .containero a{
  width: auto;
        }

        .bd-placeholder-img{
            font-size:1.125rem;text-anchor:middle;-webkit-user-select:none;-moz-user-select:none;user-select:none
        }
        @media (min-width: 768px){
            .bd-placeholder-img-lg{font-size:3.5rem}
        }
        .b-example-divider{
            width:100%;height:3rem;background-color:#0000001a;border:solid rgba(0,0,0,.15);border-width:1px 0;box-shadow:inset 0 .5em 1.5em #0000001a,inset 0 .125em .5em #00000026}
        .b-example-vr{
            flex-shrink:0;width:1.5rem;height:100vh}
        .bi{vertical-align:-.125em;fill:currentColor}

        .nav-scroller{
            position:relative;z-index:2;height:2.75rem;overflow-y:hidden}
        .nav-scroller .nav{
            display:flex;flex-wrap:nowrap;padding-bottom:1rem;margin-top:-1px;overflow-x:auto;text-align:center;white-space:nowrap;-webkit-overflow-scrolling:touch}
            
             .icon{
                
                border-radius:100%;
                
                
             }
             .btn{
                --bs-btn-color: #333bb5;
                --bs-btn-border-color: #393bb5;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #2c2e8c;
                --bs-btn-hover-border-color: #2c2e8c;
                --bs-btn-focus-shadow-rgb: 57, 59, 181;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #24266f;
                --bs-btn-active-border-color: #24266f;
                --bs-btn-disabled-color: #393bb5;
                
                --bs-btn-disabled-border-color: #393bb5;
             }
        .btn-bd-primary{
            --bd-violet-bg:  #333bb5;--bd-violet-rgb: 112.520718, 44.062154, 249.437846;--bs-btn-font-weight: 600;--bs-btn-color: var(--bs-white);--bs-btn-bg: var(--bd-violet-bg);--bs-btn-border-color: var(--bd-violet-bg);--bs-btn-hover-color: var(--bs-white);--bs-btn-hover-bg: #2c2e8c;--bs-btn-hover-border-color:  #2c2e8c;--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);--bs-btn-active-color: var(--bs-btn-hover-color);--bs-btn-active-bg:  #2c2e8c;--bs-btn-active-border-color:  #2c2e8c}
            .bd-mode-toggle{z-index:1500}.bd-mode-toggle .bi{width:1em;height:1em}.bd-mode-toggle .dropdown-menu .active .bi{display:block!important}

       
        
        :root[data-bs-theme="light"] { 
             --bs-body-bg:  #eae6ff; /* --cor-de-fundo */
             --bs-body-color:  black; /*--cor-texto */
             --bs-primary: #393bb5;
             --bs-secondary: #060025ff;
             --cor-lead: #ffffff; /* cor do texto lead */
             .bg-body-secondary{
                background-color: var(--bs-primary) !important;
                color: var(--bs-body-bg) !important;
             }


           
  /* Adicione outras variáveis para o modo claro aqui */
            }

        :root[data-bs-theme="dark"] {
        --bs-body-bg: #181a1b;
        --bs-body-color: #f8f9fa;
        --bs-primary: #393bb5;
        --bs-secondary: #b0b3b8;
        --cor-lead: #ffffff;
        --bs-btn-color: #333bb5;
        --bs-btn-border-color: #393bb5;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #2c2e8c;
        --bs-btn-hover-border-color: #2c2e8c;
        --bs-btn-focus-shadow-rgb: 57, 59, 181;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #24266f;
        --bs-btn-active-border-color: #24266f;
        --bs-btn-disabled-color: #393bb5;
        --bs-btn-disabled-border-color: #393bb5;
        /* Adicione outras variáveis para o modo escuro aqui */
        }


         .lead{
            color: var(--bs-body-) !important;
        }

        .header-1{
            
        }
        
        .footer{
            background-color:  #393bb5;
            color: #ffffff;
        }

        .link{
            color: #ffffff !important;
            text-decoration: none;
        }
        .navbarladinho {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  background-color:rgb(39, 41, 150);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #ffffff;
}

.navbarladinho a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.navbarladinho a:hover {
  color: #f1f1f1;
}

.navbarladinho .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.tresrisco{
    color: #ffffff !important
}
.saudacao {
  font-size: 30px;
  text-decoration: none;
  color: #333bb5 !important;
}
.col {
  margin: 100px;
}